.banner {
    box-sizing: border-box;
    background-image: url(../../assets/img/banner3.png);
    background-repeat: no-repeat;
    background-size: 100% auto;
    height: 750px;
    border-bottom: 10px solid #000;
    padding-left: 110px;
    padding-top: 90px;
}

.banner .wrapper {
    display: flex;
    flex-direction: column;
    width: 640px;
}

.banner .box{
    margin-bottom: 40px;
}

.banner .navigation {
    display: flex;
    justify-content: space-around;
}
